# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment files
.env
.env.*

# Firebase local service account keys
firebase db/
*.json

# OS-specific
.DS_Store
Thumbs.db
